extends layout

block content
  section.container
    h1 バルス
    
    div.row
      div.col-md-6.col-md-offset-3
        p バルス！！！
        img#target-img.hide(src="https://pbs.twimg.com/profile_images/1654571888/NinnikuOuji.jpg")
      
      
  script(src="js/app.js")
